<main>
        <div class="content">

                <div class="info">
                        <div class="localisation">
                                <p>1200 Logement</p>
                                <p>Ouagadougou</p>
                        </div>

                        <div class="numeros">
                                <span><i>Tel :</i>  </span>
                                <p> +226 25 36 81 08 </p><br>
                                <p> 75 48 52 07 / 70 11 04 70</p>
                        </div>

                        <div class="email">
                <a type="email">infos@yikiincubator.com</a>
                        </div>
                </div>


                <div class="services-conditions">
                        <div class="logo">
                        </div>

                        <div class="noservices">
                                <span><i>Nos services</i> </span>
                                <p>Service 1</p>
                                <p>Service 2</p>
                                <p>Service 3</p>
                        </div>

                        <div class="nosconditions">
                                <span><i>Nos conditions d'utilisation</i></span>
                                <p>Conditions 1</p>
                        </div>
                </div>

                <div class="copyright">
                        <p>Copyright</p>
                </div>

        </div>

</main>